@import "tailwindcss"

$background: var(--color-zinc-900)
$background-disabled: var(--color-zinc-700)
$foreground: var(--color-zinc-200)
$foreground-disabled: var(--color-zinc-400)
$border-color: var(--color-zinc-800)
$accent-color: var(--color-indigo-500)
$danger-color: var(--color-red-500)

@theme inline
    --color-background: $background
    --color-foreground: $foreground
    --font-sans: var(--font-kulim-park)
    --font-mono: var(--font-kulim-park)
    --font-title: var(--font-fraunces)

html, body
    transform: translateZ(0)
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    min-height: 100vh

body
    background: $background
    color: $foreground
    font-family: var(--font-sans), Arial, Helvetica, sans-serif

h1, h2, h3, h4, h5, h6
    font-family: var(--font-title), Arial, Helvetica, sans-serif

input
    border-radius: 0.125rem
    padding-block: 0.5em
    padding-inline: 1em

input[type="text"], input[type="password"]
    outline: 1px solid $border-color
    &:focus
        outline: 1px solid $accent-color
    &:user-invalid
        outline: 1px solid $danger-color

a
    color: $accent-color

input[type="button"], input[type="reset"], input[type="submit"]
    background: var(--color-indigo-500)
    color: var(--color-indigo-100)
    font-weight: 500
    cursor: pointer
    &:disabled
        background: $background-disabled
        color: $foreground-disabled
        cursor: not-allowed


