#login
    $dot-size: 0.0625rem
    $dot-spacing: 1rem
    background-image: radial-gradient(circle at center, var(--color-zinc-800) $dot-size, transparent 0)
    background-repeat: repeat repeat
    background-size: $dot-spacing $dot-spacing